<?xml version="1.0"?>
<!--
/**
 * @package   Divante\VsbridgeIndexerCore
 * @author    Agata Firlejczyk <afirlejczyk@divante.pl>
 * @copyright 2019 Divante Sp. z o.o.
 * @license   See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsbridge_indexer_settings">
            <group id="catalog_settings" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Catalog Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="use_magento_url_keys" translate="label comment" type="select" sortOrder="41" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Catalog Url Keys</label>
                    <comment>Use Magento Url Key attribute for url_key and slug field (for products and categories). Url Keys have to be unique.
                        IF you select "Yes" slug will be generated base on Magento url_key attribute.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_url_key_to_generate_slug" translate="label comment" type="select" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Magento Url Key and ID to generate slug for VSF</label>
                    <comment>By default slug (and url_key) is generated base on product/category NAME and ID.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="use_magento_url_keys">0</field>
                    </depends>
                </field>
                <field id="allowed_product_types" translate="label comment" type="multiselect" sortOrder="101" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Types of products to index</label>
                    <comment>by default all product types will be sent to elastic.
                        If you changed configuration after running full reindex it might be required to re-create index.
                        Simple type should always be selected, if not VSF will not work properly.
                    </comment>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\ProductType</source_model>
                </field>
                <field id="sync_tier_prices" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sync Tier Prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_parent_data" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Parent Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
