<?xml version="1.0"?>
<!--
/**
 * @package   Divante\VsbridgeIndexerCore
 * @author    Agata Firlejczyk <afirlejczyk@divante.pl>
 * @copyright 2019 Divante Sp. z o.o.
 * @license   See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsbridge_indexer_settings">
            <group id="catalog_settings" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="use_magento_url_keys" translate="label comment" type="select" sortOrder="41" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Catalog Url Keys</label>
                    <comment>Use Magento Url Key attribute for url_key and slug field (for products and categories). Url Keys have to be unique.
                        IF you select "Yes" slug will be generated base on Magento url_key attribute.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_url_key_to_generate_slug" translate="label comment" type="select" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Magento Url Key and ID to generate slug for VSF</label>
                    <comment>By default slug (and url_key) is generated base on product/category NAME and ID.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="use_magento_url_keys">0</field>
                    </depends>
                </field>
                <field id="allowed_product_types" translate="label comment" type="multiselect" sortOrder="101" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Types of products to export</label>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\Product\ProductType</source_model>
                    <comment>by default all product types will be sent to elastic.
                        If you changed configuration after running full reindex it might be required to re-create index.
                    </comment>
                </field>
                <field id="product_attributes" translate="label comment" type="multiselect" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes to export</label>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\Product\Attributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select which product attributes should be exported. Some attributes will be always exported: name, sku, price, status, url_path, url_key, visibility.</comment>
                </field>
                <field id="child_attributes" translate="label comment" type="multiselect" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configurable children attributes to export</label>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\Product\ConfigurableChildAttributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select which product attributes should be exported for 'configurable_children'. Some attributes will be always exported: name, sku, price, status, url_key, visibility and attributes used for creating configurable children (like color, size, etc)</comment>
                </field>
                <field id="export_attributes_metadata" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export attributes_metadata for product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Only visible attributes will be exported in "product.attributes_metadata"</comment>
                </field>
                <field id="sync_tier_prices" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sync Tier Prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_swatches_to_configurable_options" translate="label comment" type="select" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add swatches to `product.configurable_options`</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_catalog_rules" type="select" translate="label comment" sortOrder="350" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Apply catalog price rules in `final_price`</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you use Catalog Prices Rules and Magento 2.2.4 (or previous version) set option to Yes.</comment>
                </field>
                <field id="configurable_children_batch_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configurable Children Batch Size</label>
                    <validate>required-entry validate-digits</validate>
                    <comment>Set Batch Size for processing configurable children. For big numbers of configurable children we have to load attributes, prices, media gallery in smaller batches.</comment>
                </field>
            </group>
            <group id="catalog_category_settings" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>Category Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="category_attributes" translate="label comment" type="multiselect" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category attributes to export</label>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\Category\Attributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select which product attributes should be exported. Some attributes will be always exported: name, url_key, is_active, url_path.</comment>
                </field>
                <field id="child_attributes" translate="label comment" type="multiselect" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category children data attributes to export</label>
                    <source_model>Divante\VsbridgeIndexerCatalog\Model\Config\Source\Category\Attributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select which product attributes should be exported for 'child_data'. Some attributes will be always exported: name, url_key, is_active, url_path.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
