<?xml version="1.0"?>
<!--
/**
 * @package   Divante\VsbridgeIndexerCatalog
 * @author    Agata Firlejczyk <afirlejczyk@divante.pl>
 * @copyright 2019 Divante Sp. z o.o.
 * @license   See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vsbridge_indexer_settings>
            <catalog_settings>
                <use_magento_url_keys>0</use_magento_url_keys>
                <use_url_key_to_generate_slug>0</use_url_key_to_generate_slug>
                <sync_tier_prices>0</sync_tier_prices>
                <use_catalog_rules>0</use_catalog_rules>
                <export_attributes_metadata>0</export_attributes_metadata>
                <add_swatches_to_configurable_options>0</add_swatches_to_configurable_options>
                <configurable_children_batch_size>500</configurable_children_batch_size>
                <add_parent_sku>0</add_parent_sku>
            </catalog_settings>
        </vsbridge_indexer_settings>
    </default>
</config>
