<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Indexer\Console\Command\IndexerInfoCommand" type="Divante\VsbridgeIndexerCatalog\Console\Command\IndexerInfoCommand"/>
    <preference for="Magento\Indexer\Console\Command\IndexerReindexCommand" type="Divante\VsbridgeIndexerCatalog\Console\Command\IndexerReindexCommand"/>

    <preference for="Divante\VsbridgeIndexerCatalog\Api\SlugGeneratorInterface" type="Divante\VsbridgeIndexerCatalog\Model\SlugGenerator"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\CatalogConfigurationInterface" type="Divante\VsbridgeIndexerCatalog\Model\SystemConfig\CatalogConfig"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\ApplyCategorySlugInterface" type="Divante\VsbridgeIndexerCatalog\Model\Category\ApplyCategorySlug"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\LoadInventoryInterface" type="Divante\VsbridgeIndexerCatalog\Model\LoadInventory"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\ArrayConverter\Product\InventoryConverterInterface" type="Divante\VsbridgeIndexerCatalog\ArrayConverter\Product\InventoryConverter" />
    <preference for="Divante\VsbridgeIndexerCatalog\Api\ArrayConverter\Product\CustomOptionConverterInterface" type="Divante\VsbridgeIndexerCatalog\ArrayConverter\Product\CustomOptionConverter"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\LoadMediaGalleryInterface" type="Divante\VsbridgeIndexerCatalog\Model\Product\LoadMediaGallery"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Api\LoadTierPricesInterface" type="Divante\VsbridgeIndexerCatalog\Model\Product\LoadTierPrices" />
    <preference for="Divante\VsbridgeIndexerCatalog\Model\SystemConfig\CategoryConfigInterface" type="Divante\VsbridgeIndexerCatalog\Model\SystemConfig\CategoryConfig"/>
    <preference for="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\CategorySelectBuilderInterface" type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\CategorySelectBuilder"/>

    <type name="Divante\VsbridgeIndexerCatalog\Logger\CatalogIndexerLogger">
        <arguments>
            <argument name="name" xsi:type="string">vsbridgeCatalogIndexerLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="error" xsi:type="object">Divante\VsbridgeIndexerCatalog\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\Configurable">
        <arguments>
            <argument name="logger" xsi:type="object">Divante\VsbridgeIndexerCatalog\Logger\CatalogIndexerLogger</argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Product\GetAttributeCodesByIds">
        <arguments>
            <argument name="logger" xsi:type="object">Divante\VsbridgeIndexerCatalog\Logger\CatalogIndexerLogger</argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\DataProvider\Product\ConfigurableData">
        <arguments>
            <argument name="loadInventory" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\LoadChildrenInventory</argument>
        </arguments>
    </type>

    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\ProductIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\ProductCategoryHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\CategoryIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\AttributeIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">attribute</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Mview\ViewInterface">
        <plugin name="updateMviewSubscriptions" type="Divante\VsbridgeIndexerCatalog\Plugin\Mview\ViewPlugin"/>
    </type>
    <type name="Magento\Indexer\Ui\DataProvider\Indexer\DataCollection">
        <plugin name="hideVsbridgeProductCategoryIndexer"
                type="Divante\VsbridgeIndexerCatalog\Plugin\Ui\DataProvider\Indexer\DataCollectionPlugin" />
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\Product">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\ProductIndexerHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\ProductCategory">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\ProductCategoryHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\Category">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\CategoryIndexerHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\Attribute">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\AttributeIndexerHandlerVirtual</argument>
        </arguments>
    </type>

    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\CategoryDataFilterVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\DataFilter">
        <arguments>
            <argument name="integerProperties" xsi:type="array">
                <item name="0" xsi:type="string">level</item>
                <item name="1" xsi:type="string">id</item>
                <item name="2" xsi:type="string">parent_id</item>
                <item name="3" xsi:type="string">position</item>
                <item name="4" xsi:type="string">children_count</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Divante\VsbridgeIndexerCatalog\Model\Indexer\DataProvider\Category\AttributeData">
        <arguments>
            <argument name="dataFilter" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\CategoryDataFilterVirtual</argument>
        </arguments>
    </type>

    <virtualType name="Divante\VsbridgeIndexerCatalog\Indexer\CustomOptionsDataFilterVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\DataFilter">
        <arguments>
            <argument name="integerProperties" xsi:type="array">
                <item name="1" xsi:type="string">sort_order</item>
                <item name="2" xsi:type="string">option_id</item>
                <item name="3" xsi:type="string">option_type_id</item>
            </argument>
            <argument name="floatProperties" xsi:type="array">
                <item name="0" xsi:type="string">price</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Divante\VsbridgeIndexerCatalog\ArrayConverter\Product\CustomOptionConverter">
        <arguments>
            <argument name="dataFilter" xsi:type="object">Divante\VsbridgeIndexerCatalog\Indexer\CustomOptionsDataFilterVirtual</argument>
        </arguments>
    </type>

    <preference for="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\BaseSelectModifierInterface"
                type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\CompositeWithWebsiteModifier" />

    <virtualType name="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\CompositeWithWebsiteModifier"
                 type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="website" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\WebsiteSelectModifier</item>
                <item name="status" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\StatusSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\BaseSelectModifierInterface"
                type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeWithStoreModifier" />

    <virtualType name="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeWithStoreModifier"
                 type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="store" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\StoreSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeWithStoreChildrenModifier"
                 type="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="is_active" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\ActiveSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\Children">
        <arguments>
            <argument name="baseSelectModifier" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Category\CompositeWithStoreChildrenModifier</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="update_product_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\Product\Save\UpdateProductDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\Category">
        <plugin name="update_category_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\Category\Save\UpdateCategoryDataPlugin"/>
        <plugin name="update_product_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\Category\Save\UpdateProductPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="update_attribute_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\Attribute\Save\UpdateAttributeDataPlugin"/>
    </type>

    <type name="Magento\CatalogInventory\Model\ResourceModel\QtyCounterInterface">
        <plugin name="register_products" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\CatalogInventory\QtyCorrectPlugin"/>
    </type>

    <type name="Magento\CatalogInventory\Observer\RevertQuoteInventoryObserver">
        <plugin name="update_product_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\CatalogInventory\RevertQuoteInventoryObserverPlugin"/>
    </type>
    <type name="Magento\CatalogInventory\Observer\ReindexQuoteInventoryObserver">
        <plugin name="update_product_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Indexer\CatalogInventory\ReindexQuoteInventoryObserverPlugin"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="update_product_in_es" type="Divante\VsbridgeIndexerCatalog\Plugin\Controller\Catalog\Adminhtml\Product\Action\AttributeSavePlugin"/>
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Setup\UpgradeData\SetCategoryDefaultAttributes">
        <arguments>
            <argument name="childAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Setup\UpgradeData\SetProductDefaultAttributes">
        <arguments>
            <argument name="productAttributes" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
                <item name="image" xsi:type="string">image</item>
                <item name="small_image" xsi:type="string">small_image</item>
                <item name="thumbnail" xsi:type="string">thumbnail</item>
                <item name="media_gallery" xsi:type="string">media_gallery</item>
                <item name="meta_title" xsi:type="string">meta_title</item>
                <item name="meta_description" xsi:type="string">meta_description</item>
                <item name="special_price" xsi:type="string">special_price</item>
                <item name="special_from_date" xsi:type="string">special_from_date</item>
                <item name="special_to_date" xsi:type="string">special_to_date</item>
                <item name="tax_class_id" xsi:type="string">tax_class_id</item>
            </argument>
            <argument name="childAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="small_image" xsi:type="string">small_image</item>
                <item name="thumbnail" xsi:type="string">thumbnail</item>
                <item name="media_gallery" xsi:type="string">media_gallery</item>
                <item name="special_price" xsi:type="string">special_price</item>
                <item name="special_from_date" xsi:type="string">special_from_date</item>
                <item name="special_to_date" xsi:type="string">special_to_date</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Index\Mapping\Product">
        <arguments>
            <argument name="additionalMapping" xsi:type="array">
                <item name="bundle_options" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\BundleOptionsMapping</item>
                <item name="product_links" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\ProductLinksMapping</item>
                <item name="configurable_options" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\ConfigurableOptionsMapping</item>
                <item name="category" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\CategoryMapping</item>
                <item name="custom_options" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\CustomOptionsMapping</item>
                <item name="tier_prices" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\TierPricesMapping</item>
                <item name="attributes_meta" xsi:type="object">Divante\VsbridgeIndexerCatalog\Index\Mapping\Product\AttributesMetaMapping</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Index\Mapping\AbstractMapping">
        <arguments>
            <argument name="staticFieldMapping" xsi:type="array">
                <item name="status" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="visibility" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="position" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_LONG</item>
                <item name="level" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="category_ids" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_LONG</item>
                <item name="sku" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
                <item name="url_path" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
                <item name="url_key" xsi:type="const">Divante\VsbridgeIndexerCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCatalog\Model\Product\ParentResolver">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="configurable" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\Type\Configurable\GetParentsByChildId</item>
                <item name="grouped" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\Type\Grouped\GetParentsByChildId</item>
                <item name="bundle" xsi:type="object">Divante\VsbridgeIndexerCatalog\Model\ResourceModel\Product\Type\Bundle\GetParentsByChildId</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Console\Command\RebuildEsIndexCommand">
        <arguments>
            <argument name="excludeIndices" xsi:type="array">
                <item name="product_category" xsi:type="const">Divante\VsbridgeIndexerCatalog\Model\Indexer\ProductCategoryProcessor::INDEXER_ID</item>
            </argument>
        </arguments>
    </type>
</config>
