<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Divante\VsbridgeIndexerTax\Model\Indexer\TaxRules"
                 type="Divante\VsbridgeIndexerCore\Indexer\Base">
        <arguments>
            <argument name="typeName" xsi:type="string">taxrule</argument>
        </arguments>
    </virtualType>

    <type name="Divante\VsbridgeIndexerCore\Index\DataProviderResolver">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="taxrule" xsi:type="array">
                    <item name="tax_classes" xsi:type="object">Divante\VsbridgeIndexerTax\Model\Indexer\DataProvider\TaxClasses</item>
                    <item name="tax_rates" xsi:type="object">Divante\VsbridgeIndexerTax\Model\Indexer\DataProvider\TaxRates</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Indexer\RebuildActionPool">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="taxrule" xsi:type="string">Divante\VsbridgeIndexerTax\Model\Indexer\Action\TaxRule</item>
            </argument>
        </arguments>
    </type>
</config>
