<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Divante\VsbridgeIndexerAgreement\Model\Indexer\Agreement"
                 type="Divante\VsbridgeIndexerCore\Indexer\Base">
        <arguments>
            <argument name="typeName" xsi:type="string">agreement</argument>
        </arguments>
    </virtualType>

    <type name="Divante\VsbridgeIndexerCore\Indexer\RebuildActionPool">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="agreement" xsi:type="string">Divante\VsbridgeIndexerAgreement\Model\Indexer\Action\Agreement</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CheckoutAgreements\Model\Agreement">
        <plugin name="update_agreement_data_in_elastic" type="Divante\VsbridgeIndexerAgreement\Plugin\Indexer\Agreement\Save\UpdateAgreement"/>
    </type>
</config>
