<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Divante\VsbridgeIndexerCms\Api\ContentProcessorInterface" type="Divante\VsbridgeIndexerCms\Model\ContentProcessor"/>
    <virtualType name="Divante\VsbridgeIndexerCms\Indexer\CmsBlockIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">cms_block</argument>
        </arguments>
    </virtualType>
    <type name="Divante\VsbridgeIndexerCms\Model\Indexer\CmsBlock">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCms\Indexer\CmsBlockIndexerHandlerVirtual</argument>
        </arguments>
    </type>

    <virtualType name="Divante\VsbridgeIndexerCms\Indexer\CmsPageIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">cms_page</argument>
        </arguments>
    </virtualType>
    <type name="Divante\VsbridgeIndexerCms\Model\Indexer\CmsPage">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Divante\VsbridgeIndexerCms\Indexer\CmsPageIndexerHandlerVirtual</argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Page">
        <plugin name="update_page_data_in_elastic" type="Divante\VsbridgeIndexerCms\Plugin\Indexer\Page\Save\UpdateCmsPage"/>
    </type>
    <type name="Magento\Cms\Model\Block">
        <plugin name="update_block_data_in_elastic" type="Divante\VsbridgeIndexerCms\Plugin\Indexer\Block\Save\UpdateCmsBlock"/>
    </type>
</config>
