<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Divante\VsbridgeIndexerCms\Api\ContentProcessorInterface" type="Divante\VsbridgeIndexerCms\Model\ContentProcessor"/>

    <virtualType name="Divante\VsbridgeIndexerCms\Model\Indexer\CmsBlock"
                 type="Divante\VsbridgeIndexerCore\Indexer\Base">
        <arguments>
            <argument name="typeName" xsi:type="string">cms_block</argument>
        </arguments>
    </virtualType>
    <virtualType name="Divante\VsbridgeIndexerCms\Model\Indexer\CmsPage"
                 type="Divante\VsbridgeIndexerCore\Indexer\Base">
        <arguments>
            <argument name="typeName" xsi:type="string">cms_page</argument>
        </arguments>
    </virtualType>

    <type name="Divante\VsbridgeIndexerCore\Indexer\RebuildActionPool">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="cms_page" xsi:type="string">Divante\VsbridgeIndexerCms\Model\Indexer\Action\CmsPage</item>
                <item name="cms_block" xsi:type="string">Divante\VsbridgeIndexerCms\Model\Indexer\Action\CmsBlock</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Index\DataProviderResolver">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="cms_page" xsi:type="array">
                    <item name="content" xsi:type="object">Divante\VsbridgeIndexerCms\Model\Indexer\DataProvider\Page\ContentData</item>
                </item>
                <item name="cms_block" xsi:type="array">
                    <item name="content" xsi:type="object">Divante\VsbridgeIndexerCms\Model\Indexer\DataProvider\Block\ContentData</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Page">
        <plugin name="update_page_data_in_elastic" type="Divante\VsbridgeIndexerCms\Plugin\Indexer\Page\Save\UpdateCmsPage"/>
    </type>
    <type name="Magento\Cms\Model\Block">
        <plugin name="update_block_data_in_elastic" type="Divante\VsbridgeIndexerCms\Plugin\Indexer\Block\Save\UpdateCmsBlock"/>
    </type>

    <virtualType name="WidgetEmulateFilterProvider" type="Magento\Cms\Model\Template\FilterProvider">
        <arguments>
            <argument name="pageFilter" xsi:type="string">Magento\Widget\Model\Template\FilterEmulate</argument>
            <argument name="blockFilter" xsi:type="string">Magento\Widget\Model\Template\FilterEmulate</argument>
        </arguments>
    </virtualType>
    <type name="Divante\VsbridgeIndexerCms\Model\Indexer\DataProvider\CmsContentFilter">
        <arguments>
            <argument name="filterProvider" xsi:type="object">WidgetEmulateFilterProvider</argument>
        </arguments>
    </type>
</config>
