<?xml version="1.0"?>
<!--
/**
 * @package   Divante\VsbridgeIndexerCore
 * @author    Agata Firlejczyk <afirlejczyk@divante.pl>
 * @copyright 2019 Divante Sp. z o.o.
 * @license   See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Divante\VsbridgeIndexerCore\Api\BulkLoggerInterface" type="Divante\VsbridgeIndexerCore\Index\BulkLogger"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\Client\ClientInterface" type="Divante\VsbridgeIndexerCore\Elasticsearch\Client"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\Client\ConfigurationInterface" type="Divante\VsbridgeIndexerCore\Elasticsearch\ClientConfiguration"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\Client\BuilderInterface" type="Divante\VsbridgeIndexerCore\Elasticsearch\ClientBuilder"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\Index\TypeInterface" type="Divante\VsbridgeIndexerCore\Index\Type"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\Indexer\TransactionKeyInterface" type="Divante\VsbridgeIndexerCore\Indexer\TransactionKey"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\BulkRequestInterface" type="Divante\VsbridgeIndexerCore\Index\BulkRequest"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\BulkResponseInterface" type="Divante\VsbridgeIndexerCore\Index\BulkResponse"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\ConvertValueInterface" type="Divante\VsbridgeIndexerCore\Indexer\ConvertValue"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\IndexInterface" type="Divante\VsbridgeIndexerCore\Index\Index"/>
    <preference for="Divante\VsbridgeIndexerCore\Api\IndexOperationInterface" type="Divante\VsbridgeIndexerCore\Index\IndexOperations"/>
    <preference for="Divante\VsbridgeIndexerCore\System\GeneralConfigInterface" type="Divante\VsbridgeIndexerCore\System\GeneralConfig"/>
    <preference for="Divante\VsbridgeIndexerCore\Cache\ConfigInterface" type="Divante\VsbridgeIndexerCore\Cache\Config"/>

    <type name="Divante\VsbridgeIndexerCore\Logger\IndexerLogger">
        <arguments>
            <argument name="name" xsi:type="string">vsbridgeIndexerLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="info" xsi:type="object">Divante\VsbridgeIndexerCore\Logger\Handler\Info</item>
                <item name="error" xsi:type="object">Divante\VsbridgeIndexerCore\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="Divante\VsbridgeIndexerCore\Index\BulkLogger">
        <arguments>
            <argument name="logger" xsi:type="object">Divante\VsbridgeIndexerCore\Logger\IndexerLogger</argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Cache\Logger\CacheLogger">
        <arguments>
            <argument name="name" xsi:type="string">vsbridgeIndexerCacheLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="info" xsi:type="object">Divante\VsbridgeIndexerCore\Cache\Logger\Handler\Info</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Cache\Processor">
        <arguments>
            <argument name="logger" xsi:type="object">Divante\VsbridgeIndexerCore\Cache\Logger\CacheLogger</argument>
        </arguments>
    </type>

    <!-- Prevent sensitive fields from getting dumped with store config -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="vsbridge_indexer_settings/es_client/auth_pwd" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="index_single_entity" xsi:type="object">Divante\VsbridgeIndexerCore\Console\Command\SingleEntityIndexCommand</item>
                <item name="rebuild" xsi:type="object">Divante\VsbridgeIndexerCore\Console\Command\RebuildEsIndexCommand</item>
                <item name="reset" xsi:type="object">Divante\VsbridgeIndexerCore\Console\Command\ResetEsIndexCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Divante\VsbridgeIndexerCore\Console\Command\RebuildEsIndexCommand">
        <arguments>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\ManagerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
