<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vuestorefront_config" translate="label" sortOrder="10">
            <label>Vuestorefront</label>
        </tab>

        <section id="vsbridge_indexer_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Indexer</label>
            <tab>vuestorefront_config</tab>
            <resource>Divante_VsbridgeIndexerCore::configuration</resource>

            <group id="general_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable VS Bridge</label>
                    <comment>Enable to run indexes with Elasticsearch.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_stores" translate="label comment" type="multiselect" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>List of stores to reindex</label>
                    <comment>For every store view separated index is created in Elastic</comment>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="es_client" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Elasticsearch Client</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="host" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch port number</label>
                </field>
                <field id="enable_https_mode" translate="label comment" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use HTTPS</label>
                    <comment>Select yes if you want to connect to your Elasticsearch server over HTTPS.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_http_auth" translate="label comment" type="select" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable basic HTTP authentication</label>
                    <comment>Enable this option when your Elasticsearch server use basic HTTP authentication.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auth_user" translate="label comment" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic HTTP authentication user</label>
                    <depends>
                        <field id="enable_http_auth">1</field>
                    </depends>
                </field>
                <field id="auth_pwd" translate="label comment" type="obscure" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic HTTP authentication password</label>
                    <depends>
                        <field id="enable_http_auth">1</field>
                    </depends>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>

            <group id="indices_settings" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Indices Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="batch_indexing_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Batch Indexing Size</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="index_name" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Index Alias Prefix</label>
                    <comment>For each store view, store id or code will be added to index alias, e.g. "vue_storefront_magento_1"</comment>
                </field>
                <field id="index_identifier" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Index Identifier</label>
                    <comment>Choose if the index will append the Store ID or Store Code to the index alias, e.g. "vue_storefront_magento_1" or "vue_storefront_magento_default"</comment>
                    <source_model>Divante\VsbridgeIndexerCore\Model\Config\Source\IndexIdentifier</source_model>
                </field>
                <field id="add_identifier_to_default" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Index Identifier to Default Store View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fields_limit" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>The maximum number of fields in an index</label>
                    <comment>min value: 1000</comment>
                    <validate>required-entry validate-digits validate-digits-range digits-range-1000-</validate>
                </field>
            </group>

            <group id="redis_cache_settings" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Redis Cache Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="clear_cache" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Clear cache</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="entity_invalidate_batch_size" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Invalidate entity batch size</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Set "0" to avoid batch processing</comment>
                </field>
                <field id="vsf_base_url" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Vsf base Url</label>
                    <comment>with "/" in the end</comment>
                </field>
                <field id="invalidate_cache_key" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Invalidate Secret cache key</label>
                    <comment>Please note that Key should be equal vue-storefront/config/local.json value of server.invalidateCacheKey</comment>
                </field>
                <field id="connection_timeout" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Connection timeout</label>
                    <comment>in seconds</comment>
                </field>
            </group>

            <group id="optimization_settings" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Optimization Settings</label>
                <depends>
                    <field id="vsbridge_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="cluster_health" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Check cluster health</label>
                    <comment>Set yes if you want to check before sending operation to update if status is green</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_bulk_queue_requirement" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Check max bulk queue</label>
                    <comment>Set yes if you want to check before sending operation to update if pending tasks + batch indexer size are lower than max bulk queue size master node</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number_of_replicas" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Change number of replicas</label>
                    <comment>Set yes if you want to set number_of_replicas=0 during indexing</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number_of_replicas_value" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default number of replicas</label>
                    <comment>It's value which is set after indexing</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="number_of_replicas">1</field>
                    </depends>
                </field>
                <field id="refresh_interval" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Change refresh interval</label>
                    <comment>Set yes if you want to set refresh_interval=-1 during indexing</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="refresh_interval_value" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default value of refresh interval</label>
                    <comment>It's value which is set after indexing. Enter a value in seconds</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="refresh_interval">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
